<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter1Servlet</servlet-name>
        <servlet-class>controller.Filter1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>ShoppingCart.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>ShoppingCart.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>ShoppingCart.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>ShoppingCart.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>ShoppingCart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.LoginPart.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcart</servlet-name>
        <servlet-class>ShoppingCart.Addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>ShoppingCart.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAmountCart</servlet-name>
        <servlet-class>ShoppingCart.LoadAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCart</servlet-name>
        <servlet-class>ShoppingCart.ManagerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAmountCart</servlet-name>
        <servlet-class>ShoppingCart.SubAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>Statistics.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>ShoppingCart.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAmountCart</servlet-name>
        <servlet-class>ShoppingCart.AddAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Statistics.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoanhThuTheoThu</servlet-name>
        <servlet-class>Statistics.DoanhThuTheoThu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccount</servlet-name>
        <servlet-class>Statistics.ManagerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top10Product</servlet-name>
        <servlet-class>Statistics.Top10Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Statistics.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>Statistics.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.LoginPart.ForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter1Servlet</servlet-name>
        <url-pattern>/home1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAmountCart</servlet-name>
        <url-pattern>/loadamount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCart</servlet-name>
        <url-pattern>/managerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubAmountCart</servlet-name>
        <url-pattern>/subAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAmountCart</servlet-name>
        <url-pattern>/addAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoanhThuTheoThu</servlet-name>
        <url-pattern>/doanhThuTheoThu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccount</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top10Product</servlet-name>
        <url-pattern>/top10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
